header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #006400;
    color: white;
    max-width: 499px;
    padding: 15px;
}

header img {
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    font-family: monospace;
    max-width: 499px;
    margin: auto;
    font-size: larger;
}

footer {
    max-width: 499px;
    margin: auto;
    text-align: center;
    background-color: #006400;
    color: white;
    padding: 10px;
}

.small {
    font-size: small;
}